<%- include ('../includes/head.ejs')  %> 
<body>
    <%- include ('../includes/header.ejs')  %> 
    <section>
        <h2>New Product</h2>
        <form action="/products/save" method="post" id="create" enctype="multipart/form-data">
            <input 
                type="text" 
                name="name" 
                id="name" 
                placeholder="Name" 
                autocomplete="off"
                value="<%= locals.oldData ? oldData.name : null %>"
            >
            <% if (locals.errors && errors.name) { %>
                <p class="msg-error"> <%= errors.name.msg %> </p>
            <% } %>
            <input 
                type="number" 
                name="price" 
                id="price" 
                placeholder="Price" 
                autocomplete="off"
                value="<%= locals.oldData ? oldData.price : null %>"
                >
                <% if (locals.errors && errors.price) { %>
                    <p class="msg-error"> <%= errors.price.msg %> </p>
                <% } %>
            <textarea 
                name="description" 
                id="description" 
                autocomplete="off" 
                placeholder="Description"><%= locals.oldData ? oldData.description : null %></textarea>
                
                <% if (locals.errors && errors.description) { %>
                    <p class="msg-error"> <%= errors.description.msg %> </p>
                <% } %>
            <label for="image"><i class="fa-solid fa-image"></i></label>
            <input type="file" name="undraw" id="image" autocomplete="off">
            <button type="submit">Save</button>
        </form>
    </section>
</body>
</html>